.card-header{
    text-align: center;
    font-weight: bold;
    background-color: black;
    color: white;
}
.card-img-top{
    height: 150px;
}
body{
    text-align: center;
    background-color: skyblue
}
.card{
    margin: 15px;
    background-color: rgba(34, 33, 33, 0.935);
}
.card-text{
    color: white;
}